{
    "data": {
        "elevation": 0,
        "external_url": null,
        "internal_url": null,
        "latitude": 31.7808,
        "location_name": "Home",
        "longitude": 35.2287,
        "time_zone": "Asia/Jerusalem",
        "unit_system": "metric"
    },
    "key": "core.config",
    "version": 1
}